<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .head{
            color:#3B71CA;
            text-align: center;
        }
        .post-back{
            padding: 10px;
            margin: 15px;
            background-color: rgb(196, 212, 255);
            border-radius: 10px;
        }
        .p-head{
            font-size: 30px;
        }
    </style>
</head>
<body>
    {% include 'nav.html' %}
    <h1 class="head">POST SHARING BLOG</h1>
    <div class="post-back">
        <h1 class="p-head">Aboute Post Sharing Blog</h1>
        <p>This blog is usefull to share posts and view posts. If any updated news in your community you can share through this blog and you can view others posts</p>
    </div>
</body>
</html>